.form {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-block, &-header, &-table_block {
        display: grid;
        justify-items: end;
        padding: 5px;
        margin: 5px 50px;
        border-radius: 5px;
        border: 2px dotted rgb(0, 0, 0);
        justify-content: space-evenly;
        align-items: center;
        box-shadow:  0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    }
    &-header {
        grid-auto-flow: column;
    }
    &-block {
        grid-template-columns: repeat(2, 1fr);
    }
    &-header {
        background-color: rgb(255, 198, 144);
    }
    &-table_block {
        margin: 5px 5px;
        grid-template-columns: repeat(2, 1fr);
    }

    &-info_label {
        padding: 5px;
        font-weight: 700;
    }
    &-submit {
        max-width: 250px;
        margin: 0 auto;
    }
    &-text_input {
        display: flex;
        align-items: center;
        padding: 2px;
        word-wrap: break-word;

        &_header {
            padding-right: 8px;
            text-align: end;

            
        }
        & input {
        }
        &-area {
            max-width: 12vw;
            // background-color: red;
            border:none;
            background-image:none;
            background-color:rgb(243, 243, 243);
            box-shadow: 1px 1px 3px 1px #8a8a8a;
            outline: none;
            border-radius: 5px;
            border-bottom: 1px solid rgb(241, 93, 93);
            
            &:focus {
                background-color: rgb(182, 255, 164);
                box-shadow: 1px 1px 10px 1px #8a8a8a;
                border-bottom: 1px solid rgb(118, 241, 93);
            }
        }
    }
    &-button_block {
        display: flex;
        justify-content: space-around;
        margin: 0 50px;
    }
    &-table_item {
        padding: 5px;
        margin: 5px 50px;
        border-radius: 5px;
        border: 2px dotted rgb(0, 0, 0);
        background-color: rgb(214, 224, 255);
        display: grid;
        grid-template-columns: 10% 82% 8%;
        justify-items: center;
        align-items: center;
    }
}

.checkbox {
    &-label {
        box-shadow: 1px 1px 5px 1px #8a8a8a;

        display: flex;
        align-items: center;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: white;
        border: 1px solid black;
        &_active {
            background-color: rgb(187, 255, 201);
        }
    }
}

.go-button, .clear-form_button, .form-submit, .delete-item, .add-item {
    outline: none;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    margin: 5px;
    border-radius: 3px;
    transition: .4s;
    max-width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: rgb(70, 70, 255);
    color: white;
    cursor: pointer;
    min-height: 25px;
    max-height: 30px;
    box-shadow: 0 3px 0 0 #00178a;
        &:hover {
            background-color: rgb(0, 146, 22);
            box-shadow: 0 3px 0 0 #044e00;
    
        }
}

.form-submit, .add-item {
    &:hover {
        background-color: rgb(0, 146, 22);
        box-shadow: 0 3px 0 0 #044e00;
    }
}

.form-submit_disabled {
    opacity: 0.5;
    background-color: rgb(93, 93, 93);
    box-shadow: 0 3px 0 0 #3a3a3a;

    cursor: not-allowed;
    &:hover {
        background-color: rgba(175, 0, 0, 0.659);
        box-shadow: 0 3px 0 0 #460000e3;

    }
}

.clear-form_button, .delete-item {
    &:hover {
        background-color: rgb(185, 0, 0);
        box-shadow: 0 3px 0 0 #880101;

    }
}
.clear-form_button {
    padding: 17px 10px;
}
.add-item {
    margin: 0 auto;
    margin-bottom: 7px;
}

.delete-item {
    font-size: 13px;
    padding: 3px 6px;
}

@media screen and (max-width: 968px) {
    .go-button, .clear-form_button, .form-submit, .delete-item, .add-item {
        font-size: 12px;
            padding: 2px 5px;
    }
    .checkbox {
        &-label {
            font-size: 14px;
            padding: 1px 2px;
            width: 11rem;
            justify-content: flex-end;
        }
    }
    
    .form {
        &-block, &-header {
            margin: 5px 25px;
        }
        &-block, &-table_block {
            grid-template-columns: 95%;
        }
        &-header {
            justify-items: center;
            grid-auto-flow: dense;
            grid-template-columns: 1fr;
        }
        &-text_input {
            font-size: 14px;
            &_header {
                font-size: 14px;
                display: flex;
            }
            & input {
                font-size: 12px;
            }
    
        }
        &-table_item {
            display: flex;
            flex-direction: column;
            margin: 5px 25px;

        }
        &-info_label {
            font-size: 16px;
        }
    }
}