.form {
    &-container {
        display: flex;
        flex-direction: column;
    }
    &-block {
        display: grid;
        margin: 0 50px;
    }
    &-choose_doc{
        display: flex;
    }
    &-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 10px 25px 10px 50px;
    }
    &-block {
        grid-template-columns: 1fr;
    }

    &-info_label {
        font-weight: 700;
        text-align: start;
        padding: 2px;
    }
    &-info_title {
        text-align: start;
        padding: 3px 3px;
        font-style: italic;
        font-weight: 500;
        font-size: 15px;
        text-decoration: underline;
    }

    &-submit {
        max-width: 250px;
        margin: 0 auto;
    }
    &-text_input {
        display: grid;
        align-items: center;
        padding: 2px;
        grid-template-columns: 30% 50%;
        justify-items: start;
        &_header {
            text-align: start;
        }
        &-area {
            min-width: 25vw;
            border:none;
            background-image:none;
            outline: none;
            border: 1px solid rgb(200, 200, 200);
            padding: 5px;
            
            &:focus {
                border: 1px solid rgb(116, 179, 255);
            }
        }
    }
    &-button_block {
        display: flex;
        justify-content: space-around;
        margin: 7px 50px;
    }
    &-clear_button {
        display: flex;
        justify-content: flex-end;
        margin: 0 15px;
    }
}

.table-header {
    margin-top: 15px;
    margin-left: 47px;
    margin-right: 50px;
    font-size: 13px;
    font-weight: bold;
    vertical-align: bottom;
    margin-bottom: 3px;
    display: flex;
    align-items: flex-end;

    &_item{
        &-number {
            width: 3%;
        }
        &-name {
            width: 36%;
        }
        &-code {
            width: 7%;
        }
        &-date {
            width: 13%;
        }
        &-measure {
            width: 7%;
        }
        &-quantity {
            width: 7%;
        }
        &-price {
            width: 12%;
        }
        &-total {
            width: 17%;
        }
        &-number, &-name, &-code, &-date, &-measure, &-quantity, &-price, &-vat, &-excise {
            // border: 1px solid rgb(66, 66, 66);
        }
    }
}
.table-body {
    margin: 0 50px;
    font-size: 13px;
    display: flex;

    &_item {
        &-number {
            width: 3%;
            &__area{
                width: 100%;
                font-weight: bold;
                text-align: center;
            }
        }
        &-name {
            width: 36%;
            &__area{
                width: 100%;
            }
        }
        &-code {
            width: 7%;
            &__area{
                width: 100%;
            }
        }
        &-date {
            width: 13%;
            &__area{
                width: 100%;
            }
        }
        &-measure {
            width: 7%;
            &__area{
                width: 100%;
            }
        }
        &-quantity {
            width: 7%;
            &__area{
                width: 100%;
            }
        }
        &-price {
            width: 12%;
            &__area{
                width: 100%;
            }
        }
        &-total {
            width: 17%;
            &__area{
                width: 100%;
                text-align: end;
                font-weight: 700;
            }
        }
        &-number__area, &-name__area, &-code__area, &-date__area, &-measure__area, &-quantity__area, &-price__area, &-total__area {
            background-image:none;
            padding: 3px;
            // outline: 0.5px solid rgb(209, 209, 209);
            border: 0.5px solid rgb(148, 148, 148);
            margin: -1px 0;
        }
    }
}
.delete-button {
    position: absolute;
    right: -25px;
    top: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    &::before, &::after {
        content: ".";
        width: 3px;
        color: red;
        background-color: red;
        border-radius: 5px;
        display: inline-block;
    }
    &::after {
        transform: rotate(45deg);
        margin-left: -3px;
    }
    &::before {
        transform: rotate(135deg);
    }
    &:hover {
        transform: scale(1.2);
    }
    
    
    
    &_block {
        position: relative;
    }

}
.total {
    &-data{
        margin: -10px 45px 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &-prices {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &-info {
        margin: 0;
        font-size: 15px;
        text-align: right;
        display: grid;
        grid-template-columns: repeat(2, 115px);
        & span {
            padding: 1px;
        }
    }
    &-select {
        display: flex;
        justify-content: flex-end;
    }
}
.sign {
    &_already-selected {
        position: absolute;
        background-color: rgb(255, 226, 147);
        font-size: 10.5px;
        max-width: 215px;
        border-radius: 5px;
        padding: 1px;
        opacity: 0.95;
        top: 0;
        left: 39%;

    }
    &-input {
        position: relative;
        text-align: center;
        width: auto;
    }
}
.stamp {
    &_already-selected {
        position: absolute;
        background-color: rgb(255, 253, 184);
        font-size: 10.5px;
        max-width: 220px;
        border-radius: 5px;
        padding: 1px;
        opacity: 0.95;
        top: 0;
        left: 39%;
    }
    &-input {
        position: relative;
        text-align: center;

    }

}


.checkbox {
    &-label {
        margin: 5px;
        display: flex;
        align-items: center;
        font-size: 15px;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.612);
        border: 1px solid rgba(5, 5, 5, 0.1);
        &_active {
            box-shadow: 1px 1px 5px 1px #8a8a8a;
            background-color: rgb(187, 255, 201);
        }
    }
}

.go-button, .form-submit {
    outline: none;
    border: none;
    text-decoration: none;

    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
    transition: .4s;
    max-width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: rgb(70, 70, 255);
    color: white;
    max-height: 30px;
    box-shadow: 0 3px 0 0 #00178a;
    cursor: pointer;
        &:hover {
            background-color: rgb(0, 146, 22);
            box-shadow: 0 3px 0 0 #044e00;
        }
}

.add, .hide {
    &-info_button{
        position: absolute;
        right: 38%;
        border: none;
        background-color: transparent;
        font-size: 22px;
        outline: none;
        font-weight: 700;
        padding: 2px;
        transition: 0.6s;
    }
}

.hide-info_button {
    color: red;
    transform: rotate(45deg);
}

.form-submit {
    &:hover {
        background-color: rgb(0, 146, 22);
        box-shadow: 0 3px 0 0 #044e00;
    }
}

.form-submit_disabled {
    opacity: 0.5;
    background-color: rgb(93, 93, 93);
    box-shadow: 0 3px 0 0 #3a3a3a;
    cursor: not-allowed;
    &:hover {
        background-color: rgba(175, 0, 0, 0.659);
        box-shadow: 0 3px 0 0 #460000e3;

    }
}

.clear-form_button {
    outline: none;
    border: none;
    text-decoration: none;
    background-color: rgba(200, 17, 0, 0.769);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
    transition: .4s;
    max-width: 430px;
    color: white;
    max-height: 30px;
    box-shadow: 0 3px 0 0 #64010197;
    cursor: pointer;



    font-size: 15px;
    &:hover {
        background-color: rgb(185, 0, 0);
        box-shadow: 0 3px 0 0 #880101;
    }
}
.add-item {
    border: none;
    outline: none;
    background-color: rgb(3, 224, 3);
    border-radius: 50%;
    margin: 0 auto;
    font-size: 24px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 7px;
    width: 33px;
    height: 33px;
    &:hover {
        background-color: rgb(3, 246, 3);
    }
}

.preview-button_block {
    display: flex;
    justify-content: space-between;
    max-width: 30%;
    margin: 0 auto;
}


@media screen and (max-width: 968px) {
    .go-button, .clear-form_button, .form-submit, .delete-item {
        font-size: 12px;
        padding: 2px 5px;
    }
    .form-submit {
        padding: 20px 5px;
    }

    .checkbox {
        &-label {
            font-size: 14px;
            padding: 1px 2px;
            width: 11rem;
            justify-content: flex-end;
        }
    }
    
    .form {
        &-block, &-header {
            margin: 5px 25px;
        }
        &-block, &-table_block {
            grid-template-columns: 95%;
        }
        &-header {
            justify-items: center;
            grid-auto-flow: dense;
            grid-template-columns: 1fr;
            padding-bottom: 12px;
            grid-gap: 2px;
        }
        &-text_input {
            font-size: 14px;
            &_header {
                font-size: 14px;
                display: flex;
            }
            & input {
                font-size: 12px;
            }
    
        }
        &-table_item {
            display: flex;
            flex-direction: column;
            margin: 5px 25px;

        }
        &-info_label {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 450px) {
    .checkbox {
        &-label {
            font-size: 12px;
            padding: 1px 2px;
            width: 10rem;
            justify-content: flex-end;
        }
    }
    .form {
        &-button_block {
            margin: 0 20px;

        }
    }
    .clear-form_button {
        padding: 17px 10px;
        display: flex;
    }
}
